

.container {
  border: solid red 2px
}

.nameHeading {
  text-align: left;
  /*font-family: 'Dancing Script', cursive;*/
  font-family: sans-serif;
  font-weight: lighter;
}

.nameText {
  border: black 2px solid;
  text-align: center;
  /*font-family: 'Dancing Script', cursive;*/
  font-family: sans-serif;
  font-weight: bold;
  float: left;
}

.img1 {
  float: left;
  height: 250px;
  padding-right: 10px;
}

.imgNameQuote {
  border: 2px solid black
}

.skillset {
  font-weight: bold;
}
