.nameHeading {
  text-align: center;
  font-family: 'Dancing Script', cursive;
}

.nameText {
  text-align: center;
  font-family: 'Dancing Script', cursive;
}

.img1 {
  float: right;
}

.photoText {
  text-align: left;
}
